.container{
  width: 100%;
  height: 100%;
  --color: #57534c00;
  background-color: rgba(245, 245, 245, 0);
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
  
}


/* Estilos para tablet (768px ancho o más) */
@media only screen and (max-width: 768px) {
.container {
  width: 100%;
  height: 100%;
  --color: #57534c00;
  background-color: rgba(245, 245, 245, 0);
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
      background-size: 5% 5%;
justify-content: center;
    }
}

/* Estilos para celular (480px ancho o más) */
@media only screen and (max-width: 480px) {
.container {
  width: 100%;
  height: 100%;
  --color: #57534c00;
  background-color: rgba(245, 245, 245, 0);  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
      background-size: 5% 5%;
}
}


@-webkit-keyframes honeycomb {
    0%,
    20%,
    80%,
    100% {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  
    30%,
    70% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @keyframes honeycomb {
    0%,
    20%,
    80%,
    100% {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  
    30%,
    70% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  .honeycomb {
    height: 24px;
    position: relative;
    width: 24px;
    margin-left: 3200%;

  }
  
  .honeycomb div {
    -webkit-animation: honeycomb 2.1s infinite backwards;
    animation: honeycomb 2.1s infinite backwards;
    background: #f3f3f3;
    height: 12px;
    margin-top: 6px;
    position: absolute;
    width: 24px;

  }
  
  .honeycomb div:after, .honeycomb div:before {
    content: '';
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    left: 0;
    right: 0;
  }
  
  .honeycomb div:after {
    top: -6px;
    border-bottom: 6px solid #f3f3f3;
  }
  
  .honeycomb div:before {
    bottom: -6px;
    border-top: 6px solid #f3f3f3;
  }
  
  .honeycomb div:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    left: -28px;
    top: 0;
  }
  
  .honeycomb div:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    left: -14px;
    top: 22px;
  }
  
  .honeycomb div:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    left: 14px;
    top: 22px;
  }
  
  .honeycomb div:nth-child(4) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    left: 28px;
    top: 0;
  }
  
  .honeycomb div:nth-child(5) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    left: 14px;
    top: -22px;
  }
  
  .honeycomb div:nth-child(6) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    left: -14px;
    top: -22px;
  }
  
  .honeycomb div:nth-child(7) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    left: 0;
    top: 0;
  }


  .imageAndDescription {
    display: flex; /* Usa Flexbox */
    align-items: center; /* Centra verticalmente los elementos */
 
}

  .imageAndDescription img{
width: 400px;
height: 500px;
    border-radius: 50px;
margin: 80px;

;
}

.card {
    background: transparent;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.253);
    backdrop-filter: blur(5px); /* Reducido el valor de desenfoque */
    -webkit-backdrop-filter: blur(5px); /* También puedes reducirlo aquí */
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
    transition: transform 0.2s;
    margin: 3% 3% 3% 0%;
    height: auto;
width: 800px; 
  }

  .card h1 {
  font-family: 'Orbitron', sans-serif;
  color: #014569;
}

.card p {
    font-family: 'Montserrat', sans-serif;  
  }
  

.title{
  font-weight: bold;
  color: #014569;
}