

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  /* Puedes ajustar el peso de la fuente según tus preferencias */
}

/* Aplicar la fuente Orbitron a los títulos h1 */
h1 {
  font-family: 'Orbitron', sans-serif;
  /* Puedes ajustar el peso de la fuente según tus preferencias, pero Orbitron no tiene variaciones de peso como Montserrat en este caso específico. */
}

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }

    max-width: 1280px;
  margin: 0 ;
  padding: 2rem;
  text-align: center;
  justify-content: center;
} */








